{% extends "base.html.twig" %}

{% block javascripts %}
 <script type="text/javascript">

$(document).ready(function(){
    $(function(){
        $('form').submit(function(e){
            e.preventDefault();
            var form = $("#formularios");
            
            var post_url = "{{ path('tipoTest') }}";
            console.log(post_url);
            //post_url = 'p1.php';
            var post_data = form.serialize();
            $(form).html('Corrigiendo...');

            $.ajax({
                type: 'POST',
                url: post_url,
                data: post_data,
                success: function(msg) {
                    $("#formulario").fadeOut(750, function(){
                        form.html(msg).fadeIn().delay(1500);
                    });
                }
            });
        });
    });
});

 </script>

{% endblock %}

<div id="formulario" >
        
    <h2>{{ preguntas}}</h2>
    
    <div class="col-md-4 test">
    <div class="col-md-6">

    <div class="funkyradio">
    <div class="row">
        
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" value='{{respuestas.0.enunciado}}' class="radios"/>
            <label for="radio1">{{respuestas.0.enunciado}}</label>
        </div>

        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" value='{{respuestas.1.enunciado}}' class="radios"/>
            <label for="radio2">{{respuestas.1.enunciado}}</label>
        </div>

        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio3" value='{{correcta.0.respuestaOk}}' class="radios"/>
            <label for="radio3">{{correcta.0.respuestaOk}}</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio4" value='{{respuestas.2.enunciado}}' class="radios"/>
            <label for="radio4">{{respuestas.2.enunciado}}</label>
        </div>
    </div>
</div>
    </div>
    </div>
</div>