{% extends 'base.html.twig' %}

{% block body %}
    <h1>Respuestas list</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Textorespuesta</th>
                <th>Idpregunta</th>
                <th>Incorrecta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for respuesta in respuestas %}
            <tr>
                <td><a href="{{ path('respuestas_show', { 'id': respuesta.id }) }}">{{ respuesta.id }}</a></td>
                <td>{{ respuesta.textoRespuesta }}</td>
                <td>{{ respuesta.idPregunta }}</td>
                <td>{% if respuesta.incorrecta %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('respuestas_show', { 'id': respuesta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('respuestas_edit', { 'id': respuesta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('respuestas_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
