{% extends 'base.html.twig' %}

{% block body %}
    <h1>Respuestas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ respuesta.id }}</td>
            </tr>
            <tr>
                <th>Textorespuesta</th>
                <td>{{ respuesta.textoRespuesta }}</td>
            </tr>
            <tr>
                <th>Idpregunta</th>
                <td>{{ respuesta.idPregunta }}</td>
            </tr>
            <tr>
                <th>Incorrecta</th>
                <td>{% if respuesta.incorrecta %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('respuestas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('respuestas_edit', { 'id': respuesta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
