{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esto es el índice.</h1>
    <ul class="nav navbar-nav">
        <li><a href="{{ 
        url('homepage') 
        }}">Home</a>
        </li>
        
        <li><a href="{{ 
        url('compilator') 
        }}">Compilador</a>
        </li>
        
        <li><a href="{{ 
        url('testType') 
        }}">Tipo Test</a>
        </li>
        
        <li><a href="{{ 
        url('verdaderofalso') 
        }}">Verdadero y falso</a>
        </li>
        
        {% for nivele in niveles %}
            <tr>
                <td><a href="{{ path('niveles_show', { 'id': nivele.idniveles }) }}">{{ nivele.idniveles }}</a></td>
                <td>{{ nivele.textoNivel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('niveles_show', { 'id': nivele.idniveles }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('niveles_edit', { 'id': nivele.idniveles }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

        </ul>
{% endblock %}