{% extends "base.html.twig" %}

{% block javascripts %}
 <script type="text/javascript">
 
 var contador =1;

$(document).ready(function(){
      //ESTA ES LA COMPROBACION! PARA JOUSEP
    if(contador >= 10){
        
        $("#submits").fadeOut(750, function(){
            $("#finalizar").css('visibility', 'visible').fadeIn(1500);
        });
        
    }else{
        $("#contador").html("Pregunta "+contador+" de 10");
    }
    $(function(){
        $('form').submit(function(e){
            e.preventDefault();
            var form = $("#formularios");
            
            var post_url = "{{ path('tipoTest') }}";
            console.log(post_url);
            //post_url = 'p1.php';
            var post_data = form.serialize();

            $.ajax({
                type: 'POST',
                url: post_url,
                data: post_data,
                success: function(msg) {
                    contador++;
                    $("#formulario").fadeOut(750, function(){
                        form.html(msg).fadeIn().delay(1500);
                        //ESTA TAMBE ES LA COMPROBACIÓ!!!
                        if(contador >= 10){
        
                            $("#submits").fadeOut(750, function(){
                                $("#finalizar").css('visibility', 'visible').fadeIn(1500);
                            });
                            
                        }else{
                            $("#contador").html("Pregunta "+contador+" de 10");
                        }
                    });
                }
            });
        });
    });
    
     var correcte = '{{correcta.0.respuestaOk}}';
           $('.radios').click(function(){
               var radio_selec = $(this).val();
               if(radio_selec == correcte){
                   alert('CORRECTO');
                   //$('#bien').prop('visibility','visible');
                   $("#bien").css('visibility', 'visible').fadeIn(1500);
                   $("#mal").css('visibility','hidden');
               }else{
                   alert('ERROR');
                   $("#mal").css('visibility','visible').fadeIn(1500);
                   $("#bien").css('visibility','hidden');
               }
           });
        
});

 </script>

{% endblock %}

{% block body %}

<div class="wrapper">

<!-- Aquí empieza la actividad tipo test -->
<div class="row">
    <div class="col-sm-2">
</div>
<div class="col-sm-8">
    <h3 class="nivel">JAVA Level 1</h3>
    <h1 class="actividad">Activity 03</h1>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

    <h3 class="elegir">Choose the correct answer</h3>

    <form>
    
    <div id="formularios">
    </div>
        
<div id="formulario" >
        
    <h2>{{ preguntas}}</h2>
    
    <div class="col-md-4 test">
    <div class="col-md-6">

    <div class="funkyradio">
    <div class="row">
        
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" value='{{respuestas.0.enunciado}}' class="radios"/>
            <label for="radio1">{{respuestas.0.enunciado}}</label>
        </div>

        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" value='{{respuestas.1.enunciado}}' class="radios"/>
            <label for="radio2">{{respuestas.1.enunciado}}</label>
        </div>

        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio3" value='{{correcta.0.respuestaOk}}' class="radios"/>
            <label for="radio3">{{correcta.0.respuestaOk}}</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio4" value='{{respuestas.2.enunciado}}' class="radios"/>
            <label for="radio4">{{respuestas.2.enunciado}}</label>
        </div>
    </div>
</div>
    </div>
    </div>
</div>


<div class="derecha">
    <a href="#" class="btn btn-lg btn-default ">Skip</a>
    <input type="submit" value="Send" class="btn btn-lg btn-warning" />
</div>

  <div id="finalizar" class="derecha">
        <a href="#" class="btn btn-lg btn-success" >Finish</a>
    </div>
    </form>
    <div id="contador">
        
    </div>
    <span id="bien">
        <img id="bien2"src="{{asset("img/tickCorrecto.png")}}" />
    </span>
    
    <span id="mal">
        <img id="mal2" src="{{asset("img/equisMal.png")}}"/>
    </span>

<div class="col-sm-2"></div>
<!--
</div>
    <footer>
        <div class"container">
            <div class="row" style="margin-left:15px;margin-right:15px;">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <div class="circle-container">
                        <img id="logo-footer" src="img/isologo.png" alt="Logo abreviado">
                    </div>
                </div>
                <div class="col-md-2">
                    <ul class="footer-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Log In</a></li> 
                        <li><a href="#">Sing Up</a></li>
                    </ul>
                </div>
                <div class="col-md-3"><p>All Rights Reserved ©2016</p></div>
                <div class="col-md-2">
                    <div id="media-container">
                        <ul class="cv-social-media" id="media">
                            <a class="animated fadeIn" href="#"><li id="facebook" class="icon-facebook facebook"></li></a>
                            <a class="animated fadeIn" href="https://twitter.com/justcodeapp" target="blank"><li id="twitter" class="icon-twitter"></li></a>
                        </ul><
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>
-->
</div>

{% endblock %}
